@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  input, select {
      @apply border rounded-md p-2;
    }
}

@layer components {

  .food-preview-card {
    @apply relative;
   .checkmark {@apply rounded-md border p-3;}
   [type="radio"] {
    @apply absolute opacity-0 h-full w-full
   }
    [type="radio"]:checked + .checkmark {
        @apply border-[0.25rem] border-red-400;
      }
  }
}